*.swp
*~
*.iml
.*.haste_cache.*
.DS_Store
.idea
.babelrc
.eslintrc
npm-debug.log
lib

.yarn/*
.yarnrc
examples
docs
webpack.config.*
prettier.config.*
template.html
.github
.circleci
.eslintrc.*
coverage
src
tslint.json
jest.config.*
CODEOWNERS
CODE_OF_CONDUCT.md
CONTRIBUTING.md
stories
yarn-error.log
.storybook
.prettierignore