import type { Meta, StoryObj } from '@storybook/react';

import LOADER_NAME from "../src/LOADER_NAME";

const meta: Meta<typeof LOADER_NAME> = {
  component: LOADER_NAME,
  argTypes:{
ARG_TYPES
  }
};

export default meta;

type Story = StoryObj<typeof LOADER_NAME>;

export const Primary: Story = {};

