body { 
  background: #e2e2e2;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Header styles */
header {
  width: 100%;
  height: 360px;
  background: #2b303b;
  background: -webkit-gradient(linear, left top, right top, from(#36D7B7), to(#2b303b));
  background: -webkit-linear-gradient(left, #36D7B7, #2b303b);
  background: -o-linear-gradient(left, #36D7B7, #2b303b);
  background: linear-gradient(90deg, #36D7B7, #2b303b);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.navbar {
  height: 40px !important;
  position: fixed;
  top: 0;
}

.navbar h1 {
  font-size: 20px;
}

.logo {
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  margin: 0px auto;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 300;
  text-transform: uppercase;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/* install styles */
.installation {
  margin: 50px auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

code {
  background: #2b303b;
  padding: 16px 32px;
  font-size: 20px;
  margin: 0 auto;
  font-family: Courier New, Courier, monospace;
  opacity: 0.9;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

code:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
          box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  opacity: 1;
}

/* Spinner Container Styles */
.spinner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  width: 80%;
  margin: 0 auto;
  background: #fff;
}

.spinner-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border: 0.5px solid #e2e2e2;
  -webkit-box-shadow: 1px 1px 1px #e2e2e2;
          box-shadow: 1px 1px 1px #e2e2e2;
  width: 250px;
  height: 250px;
  margin: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
}

.spinner-title {
  position: absolute;
  top: 20px;
}

.color-picker {
  top: 370px;
  left: 20px;
  position: fixed;
  z-index: 999;
}

.color-picker button {
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  background: #2b303b;
  color: #fff;
  border: none;
  opacity: 0.9;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  letter-spacing: 0.5px;
  padding: 0 28px;
}

.color-picker button:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
          box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  opacity: 1;
}

/* Footer styles */
footer {
  padding: 30px;
  margin: 15px 0 0 0;
  background: #2b303b;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ccc;
}

footer a:hover {
  color: #fff;
}