body { 
  background: #e2e2e2;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Header styles */
header {
  width: 100%;
  height: 360px;
  background: #2b303b;
  background: linear-gradient(90deg, #36D7B7, #2b303b);
  color: #fff;
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  text-align: center;
  margin: 0px auto;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 300;
  text-transform: uppercase;
}

/* install styles */
.installation {
  margin: 50px auto;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

code {
  background: #2b303b;
  padding: 16px 32px;
  font-size: 20px;
  margin: 0 auto;
  font-family: Courier New, Courier, monospace;
  opacity: 0.9;
  transition: 0.3s ease-out;
}

code:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  opacity: 1;
}

/* Spinner Container Styles */
.spinner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
  width: 80%;
  margin: 0 auto;
  background: #fff;
}

.spinner-item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 0.5px solid #e2e2e2;
  box-shadow: 1px 1px 1px #e2e2e2;
  width: 250px;
  height: 250px;
  margin: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
}

.spinner-title {
  position: absolute;
  top: 20px;
}

.color-picker {
  top: 370px;
  left: 20px;
  z-index: 100;
}

.color-picker button {
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  background: #2b303b;
  color: #fff;
  border: none;
  opacity: 0.9;
  transition: 0.3s ease-out;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  letter-spacing: 0.5px;
  padding: 0 28px;
}

.color-picker button:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  opacity: 1;
}

.position-abs {
  position: absolute;
}

.position-fixed {
  position: fixed;
  top: 10px;
}

/* Footer styles */
footer {
  padding: 30px;
  margin: 15px 0;
  background: #2b303b;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ccc;
}

footer a:hover {
  color: #fff;
}